/*VARIABLE PARA COLORES*/
/*FUENTES*/
/*FUENTE DE GOOGLE*/
/*VARIABLES PARA MEDIAQUERIES*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fcfcfc;
}

html {
  font-size: 62.5%;
}

/*BODY*/
body {
  background-color: #2c0735;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 4rem;
  color: #fcfcfc;
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

h2 {
  font-size: 3rem;
  color: #fcfcfc;
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

h3 {
  font-size: 2.5rem;
  color: #fcfcfc;
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

p {
  font-size: 1.8rem;
  color: #fcfcfc;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 1rem;
}

/* EXTENDS*/
.hover, .navbar-toggler:hover, .nav-link:hover {
  transform: scale(1);
  background-color: #ec9a29;
  border: solid 1px #fcfcfc;
}

/*MIXIN*/
/*Menu navegacion Flex*/
#header-flex img {
  width: 8rem;
}

.navbar-collapse {
  margin: 1rem 1rem 1.5rem;
}

@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 1rem;
  }
}
.nav-link {
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  color: #fcfcfc;
  border-radius: 1rem;
  padding: 0.5rem;
  text-align: center;
  background-color: #613dc1;
  margin: 0.2rem 0.5rem;
}
.navbar-toggler {
  margin-right: 2rem;
  background-color: #613dc1;
}
/*GRILLA*/
#grilla {
  display: grid;
  grid-template-areas: "header header header" "productos productos productos" "banner banner banner" "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
}

#header-flex {
  grid-area: header;
}

#servicios {
  grid-area: productos;
}

#banner {
  grid-area: banner;
}

#footer {
  grid-area: footer;
}

h2, p {
  text-align: center;
}

#pap-porf {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 5rem;
}

@media screen and (max-width: 812px) {
  #pap-porf {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 555px) {
  #pap-porf {
    grid-template-columns: repeat(1, 1fr);
  }
}
#porf {
  margin: 2rem auto;
  background-color: #613dc1;
  border: solid 2px #5d737e;
  border-radius: 2rem 8rem;
  height: auto;
  width: 23rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#porf .porf {
  font-family: "Roboto Mono", monospace;
  font-size: 3rem;
}
#porf p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
}
#porf li {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  list-style-type: square;
}
#porf #mmulti {
  height: 13rem;
  border-radius: 50%;
  margin: -6rem 4rem 1rem;
}
#porf #vdlv {
  height: 13rem;
  border-radius: 50%;
  margin: -6rem 4rem 1rem;
}
#porf #hz {
  height: 13rem;
  border-radius: 50%;
  margin: -6rem 4rem 1rem;
}
#porf #veg {
  height: 15rem;
  margin: -6rem 4rem -1rem;
}
#porf #bv {
  height: 12rem;
  border-radius: 50%;
  margin: -6rem 4rem 1rem;
}
#porf #bt {
  height: 12rem;
  border-radius: 40%;
  margin: -6rem 4rem 1rem;
}

#servicios li, p {
  text-align: center;
  margin-bottom: 1.5rem;
}

.lili li {
  font-size: 1.3rem;
  font-family: "Roboto Mono", monospace;
}

.padre-cardserv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
  justify-items: center;
}

@media screen and (max-width: 1090px) {
  .padre-cardserv {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 650px) {
  .padre-cardserv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}
.cardserv {
  width: 23rem;
  border: solid 2px grey;
  border-radius: 1rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  background-color: #5d737e;
}

.card img {
  margin-bottom: 1rem;
  height: 14rem;
}

.boton {
  color: black;
  font-family: "Roboto Mono", monospace;
  font-size: 1.3rem;
  background-color: #613dc1;
  padding: 0.5rem;
  border-radius: 1.3rem;
}
.boton a {
  text-decoration: none;
  color: black;
}
.boton:hover {
  transform: scale(1);
  background-color: #ec9a29;
  border: solid 1px #fcfcfc;
  color: #fcfcfc;
}
.boton:hover a:hover {
  background-color: #ec9a29;
  color: #fcfcfc;
}

.serv {
  height: 8rem;
}

/*BANNER*/
.p-banner {
  color: black;
  text-align: center;
}

#banner {
  background-color: #fcfcfc;
  margin-top: 4rem;
  padding: 2rem;
}
#banner h2,
#banner h3,
#banner li {
  text-align: center;
  color: black;
}

#banner li {
  list-style-type: square;
  margin-bottom: 3rem;
}

.padre-banners {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

@media screen and (max-width: 767px) {
  .padre-banners {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .padre-banners {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}
.banner-caracteristicas {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.ulli {
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-size: 1.8rem;
  margin: 2rem;
  list-style: none;
}

/*NOSOTROS*/
#papcar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.cardnos {
  display: flex;
  flex-direction: column;
}

#nosfil {
  width: 48rem;
  border-radius: 2rem 8rem;
  border: solid 1.8px #ec9a29;
  background-color: rgba(97, 61, 193, 0.6);
  display: flex;
  margin: 1rem;
}

.mmbf {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 3rem 2rem;
  height: 20rem;
  border-radius: 5% 40%;
}

#redes {
  display: flex;
  flex-wrap: initial;
  margin-left: 4rem;
}
#redes img {
  height: 5rem;
}

.nomm {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem;
}

.datos {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 2rem;
  list-style: circle;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
}

/* Mediaquerry */
#papcar {
  display: grid;
  grid-area: productos;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  justify-items: center;
}

@media screen and (max-width: 1014px) {
  #papcar {
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}
@media screen and (max-width: 555px) {
  #papcar {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
  }
  #nosfil {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 24rem;
  }
  .mmbf {
    margin: 1rem;
  }
}
/*FIN NOSOTROS*/
/*CONTACTO*/
#contacto h2 {
  text-align: center;
  margin: 2rem;
}
#contacto p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
}
#contacto li {
  text-align: center;
  list-style-type: none;
  font-family: "Roboto Mono", monospace;
  font-size: 1.8rem;
}

#formu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.fiel {
  font-family: "Roboto Mono", monospace;
  font-size: 1.3rem;
  width: 45rem;
  border: solid 1.5px grey;
  border-radius: 1rem 8rem;
  background-color: #613dc1;
  padding: 0.5rem;
  color: #fcfcfc;
  text-align: center;
}

#comentarios {
  color: black;
  border-radius: 1rem;
  padding: 1rem;
}

.leg-conta {
  font-family: "Roboto Mono", monospace;
  font-size: 1.8rem;
  text-align: center;
}

input {
  border: solid 1.5px grey;
  border-radius: 1rem;
  background: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #fcfcfc;
  margin: 0.4rem;
}

/* DESCKTOP */
.labinp,
.chk {
  display: none;
}

/* mobile */
@media screen and (max-width: 480px) {
  #formu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
  }
  .chk {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
  .chq,
  .labin .lab {
    display: none;
  }
  .fiel {
    width: 30rem;
  }
  #comentarios,
  .comen {
    color: black;
    padding: 1rem;
  }
}
/*FIN CONTACTO*/
/*FOOTER*/
#footer {
  margin-top: 1rem;
  background-color: #fcfcfc;
  padding: 1.3rem;
  position: relative;
  bottom: 0px;
}
#footer p {
  color: black;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
}

/*FOOTER*/

/*# sourceMappingURL=styles.css.map */
