/*CONTACTO*/


#contacto {
    h2 {
        text-align: center;
        margin: 2rem;
    }
    p {
        font-family: $fuente-parrafo;
        font-size: $fuente-muy-chica;
    }
    li {
        text-align: center;
        list-style-type: none;
        font-family: $fuente-titulo;
        font-size: $fuente-muy-chica;
    }
}

#formu {
    @include flex-colum-center;
    
}


.fiel {
    font-family: $fuente-titulo;
    font-size: $super-chica;
    width: 45rem;
    border: solid 1.5px $gris-claro;
    border-radius: 1rem 8rem;
    background-color: $secundario;
    padding: .5rem;
    color: $primario;
    text-align: center;
}

#comentarios{
    color: $negro;
    border-radius: 1rem;
    padding: 1rem;
}


.leg-conta {
    font-family: $fuente-titulo;
    font-size: $fuente-muy-chica;
    text-align: center;    
}

input{
    border: solid 1.5px $gris-claro;
    border-radius: 1rem;
    background: none;
    padding: .5rem;
    font-size: $interm;
    color: $primario;
    margin: .4rem;
}




/* DESCKTOP */


.labinp,
.chk {
    display: none;
    
}


/* mobile */

@media screen and (max-width: $pantalla-muy-pequena) {
    #formu {
        @include flex-colum-center;
        justify-content: center;

        }
        .chk {
            @include flex-row-center;
        }
        .chq,
        .labin .lab {
            display: none;
        }
        
        
        .fiel {
            width: 30rem;
        }
        
        #comentarios,
        .comen {
            color: black;
            padding: 1rem;
        }
    }


/*FIN CONTACTO*/