/*FOOTER*/

#footer {
    margin-top: 1rem;
    background-color: $primario;
    padding: 1.3rem;
    position: relative;
    bottom: 0px;
    
    p {
    color: $negro;
    font-family: $fuente-titulo;
    font-size: 1.5rem;
    }
}
/*FOOTER*/
