* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #fcfcfc;
}

html {
    font-size: 62.5%;
}
/*BODY*/
body {
    background-color: #2c0735;
}

img {
    max-width: 100%;
}

h1 {
    font-size: $fuente-grande;
    color: #fcfcfc;
    font-family: $fuente-titulo;
    text-align: center;
}

h2 {
    font-size: $fuente-mediana;
    color: #fcfcfc;
    font-family: $fuente-titulo;
    text-align: center;
}

h3 {
    font-size: $fuente-chica;
    color: #fcfcfc;
    font-family: $fuente-titulo ;
    text-align: center;
}

p {
    font-size: $fuente-muy-chica;
    color: #fcfcfc;
    text-align: center;
    font-family: $fuente-parrafo;
    margin: 1rem;
}

/* EXTENDS*/

.hover {
    transform: scale(1);
    background-color: #ec9a29;
    border: solid 1px #fcfcfc;
}


/*MIXIN*/
@mixin flex-colum-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-colum {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}