
/*Menu navegacion Flex*/

#header-flex img {
    width: 8rem;
}


.navbar-collapse {
    margin: 1rem 1rem 1.5rem;
}

@media screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        @include flex-row;
        margin-right: 1rem;
    }
}


.nav-link {
    font-family: $fuente-titulo;
    font-size: 1.5rem;
    color: #fcfcfc;
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
    background-color: #613dc1;
    margin: .2rem .5rem;
    &:hover {
        @extend .hover;
    }
}

.navbar-toggler {
    margin-right: 2rem;
    background-color: #613dc1;
    &:hover {
        @extend .hover;
    }
}