/*GRILLA*/
#grilla {
    display: grid;
    grid-template-areas:
    "header header header"
    "productos productos productos"
    "banner banner banner"
    "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
}

#servicios {
    grid-area: productos;
}
#banner {
    grid-area: banner;
}
#footer {
    grid-area: footer;
}