h2, p {
    text-align: center;
}
#pap-porf {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 5rem;
}
@media screen and (max-width: $pantalla-card) {
    #pap-porf {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: $pantalla-mas-pequena) {
    #pap-porf {
        grid-template-columns: repeat(1,1fr);
    }
}



#porf {
    margin: 2rem auto;
    background-color: $secundario;
    border: solid 2px $gris;
    border-radius: 2rem 8rem;
    height: auto;
    width: 23rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .porf {
        font-family: $fuente-titulo;
        font-size: $fuente-mediana;
    }

    p {
        font-family: $fuente-parrafo;
        font-size: $fuente-muy-chica;
    }
    li {
        font-family: $fuente-parrafo;
        font-size: $super-chica;
        list-style-type: square;
    }

    #mmulti {
        height: 13rem;
        border-radius: 50%;
        margin: -6rem 4rem 1rem;
        
    }
    #vdlv {
        height: 13rem;
        border-radius: 50%;
        margin: -6rem 4rem 1rem;
    }
    #hz {
        height: 13rem;
        border-radius: 50%;
        margin: -6rem 4rem 1rem;
    }
    #veg {
        height: 15rem;
        margin: -6rem 4rem -1rem;
    }
    #bv {
        height: 12rem;
        border-radius: 50%;
        margin: -6rem 4rem 1rem;
    }
    #bt {
        height: 12rem;
        border-radius: 40%;
        margin: -6rem 4rem 1rem;
    }

    }
    
