
#servicios li{
    list-style-type: square;
    text-align: center;
        margin-bottom: 1.5rem;
} 
p {
        text-align: center;
        margin-bottom: 1.5rem;
    }


.lili li {
    font-size: $super-chica;
    font-family: $fuente-titulo;
}

.padre-cardserv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    justify-items: center;
}

@media screen and (max-width: $pantalla-xg) {
    .padre-cardserv {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: $pantalla-pequena) {
    .padre-cardserv {
        @include flex-colum-center;
    }
}

.cardserv {
    width: 23rem;
    border: solid 2px $gris-claro;
    border-radius: 1rem 8rem;
    @include flex-colum-center;
    padding: 1rem;
    margin: 1rem;
    background-color: $gris;
}

.card img {
    margin-bottom: 1rem;
    height: 14rem;
}

.boton {
    color: $negro;
    font-family: $fuente-titulo;
    font-size: $super-chica;
    background-color: $secundario;
    padding: .5rem;
    border-radius: 1.3rem;
    a {
    text-decoration: none;
    color: $negro;
    }
    &:hover {
        transform: scale(1);
        background-color: $naranja;
        border: solid 1px $primario;
        color: $primario;
        a:hover {
            background-color: $naranja;
            color: $primario;
        }
    }
}

.serv {
    height: 8rem;
}

/*BANNER*/

.p-banner {
    color: $negro;
    text-align: center;
}

#banner {
    background-color: $primario;
    margin-top: 4rem;
    padding: 2rem;
    h2,
    h3 {
        text-align: center;
        color: $negro;
    }
    li {
        text-align: center;
        color: $negro;
        list-style-type: square;
        margin-bottom: 3rem;
    }
}


.padre-banners {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

@media screen and (max-width: $pantalla-mediana) {
    .padre-banners {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: $pantalla-mediana) {
    .padre-banners {
        @include flex-colum-center         
        }
    }

.banner-caracteristicas {
    @include flex-colum-center;
    }

    .ulli{
        text-decoration: none;
        font-family: $fuente-titulo;
        font-size: $fuente-muy-chica;
        margin: 2rem;
        list-style: none;
    }
