/*VARIABLE PARA COLORES*/
$bg-body: #2c0735;
$primario: #fcfcfc;
$secundario: #613dc1;
$naranja: #ec9a29;
$gris: #5d737e;
$gris-claro: grey;
$negro: black;


/*FUENTES*/
$fuente-grande: 4rem;
$fuente-mediana: 3rem;
$fuente-chica: 2.5rem;
$fuente-muy-chica: 1.8rem;
$super-chica: 1.3rem;
$interm: 1.5rem;

/*FUENTE DE GOOGLE*/
$fuente-titulo: "Roboto Mono", monospace;
$fuente-parrafo: "Montserrat", sans-serif;

/*VARIABLES PARA MEDIAQUERIES*/
$pantalla-muy-pequena: 480px;
$pantalla-mas-pequena: 555px;
$pantalla-pequena: 650px;
$pantalla-mediana: 767px;
$pantalla-grande: 992px;
$pantalla-card: 812px;
$pantalla-x: 1014px;
$pantalla-xg: 1090px;